body {
  margin: 0;
}

main {
  padding: 20px;
}

main section {
  margin-bottom: 40px;
}

main h1, h2 {
  text-align: center;
  color: crimson;
}

main img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
}
